<script id="loading-template" type="x-tmpl-mustache">
    <div class="loading-indicator">{{{message}}}</div>
</script>
<script id="label-template" type="x-tmpl-mustache">
    <div class="label-name">{{name}}</div>
    <div class="label-value">{{value}}</div>
</script>
<script id="providerresultsheader-template" type="x-tmpl-mustache">
    <div id="sortby-container">
        <form>
            <label for="sortby">Sort by:</label>
            <select name="sortby" id="sortby">
                <option value="name" >Name</option>
                <option value="distance" disabled="disabled">Distance</option>
                <option value="earnings" selected="selected">Future earnings</option>
                <option value="satisfaction" >Learner satisfaction</option>
                <option value="passrate" >Pass rate</option>
            </select>
        </form>
    </div>
    <h3 class="searchsummary">
        {{#subjectname}}
        {{totalcount}} {{subjectname}} course(s)
        {{/subjectname}}
        {{^subjectname}}
        {{totalcount}} training provider(s)
        {{/subjectname}}
        {{#locationname}}
        near {{locationname}}
        {{/locationname}}
    </h3>
    <a href="#" id="clear-search" {{#searchset}} class="shown" {{/searchset}}>Clear filter</a>
    <br />
</script>
<script id="bunchOfProviders-template" type="x-tmpl-mustache">
    {{#.}}
    <div class="singleProvider get-providerdetails" data-ukprn="{{provider_id}}">
        <h1>
            <a href="#provider={{provider_id}}" class="get-providerdetails" data-ukprn="{{provider_id}}">{{provider.name}}</a>
        </h1>
        {{#distance}}
        <p>Distance: {{distance}} miles</p>
        {{/distance}}
        <div class="graph-container empty" data-ukprn="{{provider_id}}"></div>
    </div>
    {{/.}}
</script>

<script id="earningsTooltip-template" type="x-tmpl-mustache">
    <p class="bignumber">{{valueFormatted}}</p>
    <p class="bignumbercaption">average earnings five years after completion.</p>
    <p class="bignumberbaseline">That's <span class="{{betterorworse}}">{{difference}} {{moreorless}}</span> than the national average.</p>
</script>

<script id="satisfactionTooltip-template" type="x-tmpl-mustache">
    <p class="bignumber">{{valueFormatted}}</p>
    <p class="bignumbercaption">average score given to this {{elementdescriptor}} by learners.</p>
    <p class="bignumberbaseline">That's <span class="{{betterorworse}}">{{difference}} points {{betterorworse}}</span> than the national average.</p>
</script>

<script id="passrateTooltip-template" type="x-tmpl-mustache">
    <p class="bignumber">{{valueFormatted}}</p>
    <p class="bignumbercaption">of learners complete their education {{inorwith}} this {{elementdescriptor}}.</p>
    <p class="bignumberbaseline">That's <span class="{{betterorworse}}">{{difference}} points {{betterorworse}}</span> than the national average.</p>
</script>

<script id="nodataTooltip-template" type="x-tmpl-mustache">
    <p class="bignumber">?</p>
    <p class="bignumberbaseline">{{noDataDescriptor}}</p>
</script>
<script id="providerDetails-template" type="x-tmpl-mustache">
    <h2>
        {{#subjectmode}}
        {{primary.subject_tier_2_title}} at
        {{/subjectmode}}
        {{name}}        
    </h2>
    <a href="#" class="mode-main">Search</a>&ensp;&rsaquo;&ensp;
    {{#subjectmode}}
        <a href="#" class="setsubject">{{name}}</a>&ensp;&rsaquo;&ensp;
        <span>{{primary.subject_tier_2_title}}</span>
    {{/subjectmode}}
    {{^subjectmode}}
        <span>{{name}}</span>
    {{/subjectmode}}
    <div class="flex-container">
        <div class="flex-2">
            {{#primary}}
            <h3>Quick facts</h3>
            <ul class="quickfacts">
                {{^performanceData.0.noData}}
                <li>Training graduates go on to earn an average of {{performanceData.0.valueFormatted}} p/a.</li>
                {{/performanceData.0.noData}} 
                {{#earnings.percentage_above_21k}}
                <li>{{earnings.percentage_above_21k}}% of graduates earn over &pound;21,000 p/a.</li>
                {{/earnings.percentage_above_21k}}               
                {{^performanceData.2.noData}}
                <li>{{performanceData.2.valueFormatted}} of learners complete their education with this training provider.</li>
                {{/performanceData.2.noData}}
                {{^performanceData.1.noData}}
                <li>Training graduates rate this training provider {{performanceData.1.valueFormatted}} out of 10.</li>
                {{/performanceData.1.noData}}
                {{#learner_stats.total}}
                <li>There are {{learner_stats.total}} learners with this training provider{{#learner_stats.age_25_plus}}, {{learner_stats.age_25_plus}} of which are aged 25 or older{{/learner_stats.age_25_plus}}.
                </li>
                {{/learner_stats.total}}
                
            </ul>
            {{/primary}}
        </div>
        <div class="flex-1">
            <div class="address">
                <h3>Address</h3>
                {{#address.address1}}<p>{{address.address1}}</p>{{/address.address1}}
                {{#address.address2}}<p>{{address.address2}}</p>{{/address.address2}}
                {{#address.town}}<p>{{address.town}}</p>{{/address.town}}
                {{#address.county}}<p>{{address.county}}</p>{{/address.county}}
                {{#address.post_code}}<p>{{address.post_code}}</p>{{/address.post_code}}
            </div>
            {{#address.latitude}} {{#address.longitude}}
            <p>
                <a href="http://www.google.com/maps?daddr={{address.latitude}},{{address.longitude}}" target="_blank">View on map</a>
            </p>
            {{/address.longitude}} {{/address.latitude}}
            {{#website}}
            <p>
                <a href="{{website}}">Visit their website</a>
            </p>
            {{/website}}
        </div>
    </div>
    <h3>
        {{#subjectmode}}
        All courses by this provider
        {{/subjectmode}}
        {{^subjectmode}}
        Courses
        {{/subjectmode}}
    </h3>
    <div id="subject-sortby-container">
        <form>
            <label for="subject-sortby">Sort by:</label>
            <select name="subject-sortby" id="subject-sortby">
                <option value="name">Name</option>
                <option value="earnings" selected="selected">Future earnings</option>
                <option value="satisfaction">Learner satisfaction</option>
                <option value="passrate">Pass rate</option>
            </select>
        </form>
    </div>
    <div id="subjects-all">
        {{#apprenticeships}}
        {{#subject_tier_2_code}}
        <div class="singleSubject">
            <h1><a href="#" class="setsubject" data-subjectcode="{{subject_tier_2_code}}">{{subject_tier_2_title}}</a></h1>
            <div class="graph-container empty" data-ukprn="{{ukprn}}" data-subjectcode="{{subject_tier_2_code}}"></div>
        </div>
        {{/subject_tier_2_code}}
        {{/apprenticeships}}
    </div>
</script>